DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=
SQLITE_NAME=db.sqlite3
MEDIA_ROOT=media
COOKIE_SECURE=false
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
